<div id="content">
  <div class="login-header">找回密码</div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
    <div class="login-input-box">
      <%= f.label "邮箱" %>
      <span class="icon icon-password"></span>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  <div class="remember-box">
    <div class="actions">
      <div class="login-button-box">
        <%= f.submit "获取验证码" %>
      </div>
    </div>
  </div>
  <% end %>
  <div class="login-bottom">
    <%= render "devise/shared/links" %>
  </div>
</div>
